The average rating for a recipe is about 4 and on average a user writes about 5 reviews but most users write only 1 review. One super user wrote 7671 reviews. There are 14942 ingredients mentioned throughout all of the recipes with salt, butter, and sugar being the most frequently used and 3456 different ingredients being used in only one recipe. On average, there are 9.7 steps in the recipes. The recipe "easy yeast bread with variations" has the most steps with 145 steps. 
There are 552 unique tags. Recipes have on average 17.88 tags and the most frequently used tag is "preparation" and was used 230546 times while there are 44 tags that are only used once. Recipes with the tag "ragu-recipe-contest" get the highest average ratings of 4.77 while recipes with the tag "pressure-canning" gets the lowest average ratings of 3.78.

In [1]:
import numpy as np
import pandas as pd
import ast
import matplotlib.pyplot as plt

In [2]:
raw_interactions_df = pd.read_csv("data/RAW_interactions.csv")

In [45]:
raw_recipes_df = pd.read_csv("data/RAW_recipes.csv")

### Ingredient popularity

In [4]:
raw_recipes_df

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8
...,...,...,...,...,...,...,...,...,...,...,...,...
231632,zydeco soup,486161,60,227978,2012-08-29,"['ham', '60-minutes-or-less', 'time-to-make', ...","[415.2, 26.0, 34.0, 26.0, 44.0, 21.0, 15.0]",7,"['heat oil in a 4-quart dutch oven', 'add cele...",this is a delicious soup that i originally fou...,"['celery', 'onion', 'green sweet pepper', 'gar...",22
231633,zydeco spice mix,493372,5,1500678,2013-01-09,"['15-minutes-or-less', 'time-to-make', 'course...","[14.8, 0.0, 2.0, 58.0, 1.0, 0.0, 1.0]",1,['mix all ingredients together thoroughly'],this spice mix will make your taste buds dance!,"['paprika', 'salt', 'garlic powder', 'onion po...",13
231634,zydeco ya ya deviled eggs,308080,40,37779,2008-06-07,"['60-minutes-or-less', 'time-to-make', 'course...","[59.2, 6.0, 2.0, 3.0, 6.0, 5.0, 0.0]",7,"['in a bowl , combine the mashed yolks and may...","deviled eggs, cajun-style","['hard-cooked eggs', 'mayonnaise', 'dijon must...",8
231635,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[188.0, 11.0, 57.0, 11.0, 7.0, 21.0, 9.0]",9,['place melted butter in a large mixing bowl a...,"i've heard of the 'cookies by design' company,...","['butter', 'eagle brand condensed milk', 'ligh...",10
231636,cookies by design sugar shortbread cookies,298509,20,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[174.9, 14.0, 33.0, 4.0, 4.0, 11.0, 6.0]",5,"['whip sugar and shortening in a large bowl , ...","i've heard of the 'cookies by design' company,...","['granulated sugar', 'shortening', 'eggs', 'fl...",7

In [5]:
ingredients_lists = raw_recipes_df['ingredients'].apply(lambda x: ast.literal_eval(x))
ingredients_df = ingredients_lists.explode().value_counts().to_frame().reset_index().rename(columns={'ingredients':'ingredient'})

In [7]:
# num_ingredients
ingredients_df.shape[0]

14942

In [8]:
# top and bottom 3 ingredients
ingredients_df[:3], ingredients_df[-3:]

(  ingredient  count
 0       salt  85746
 1     butter  54975
 2      sugar  44535,
             ingredient  count
 14939          ovolini      1
 14940  ginseng extract      1
 14941        nepitella      1)

In [11]:
# number of ingredients only mentioned once
ingredients_df[ingredients_df['count'] == 1].shape[0]

3546

In [14]:
# average num steps per recipe
raw_recipes_df['n_steps'].mean()

9.7654994668382

In [27]:
# recipe with most steps
raw_recipes_df[raw_recipes_df['n_steps'] == (raw_recipes_df['n_steps'].max())]

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
78633,easy yeast bread with variations,158120,210,182358,2006-02-28,"['time-to-make', 'course', 'preparation', 'hea...","[1784.5, 62.0, 104.0, 151.0, 103.0, 42.0, 99.0]",145,"['white bread:', 'lightly spooning flour into ...",found online in response to a request and now ...,"['all-purpose flour', 'dry yeast', 'sugar', 's...",8

In [28]:
raw_recipes_df.iloc[78633]['name']

'easy yeast bread with variations'

In [46]:
recipes_df = raw_recipes_df.copy()
recipes_df['tags_list'] = raw_recipes_df['tags'].apply(ast.literal_eval)

In [47]:
recipes_df['n_tags'] = recipes_df['tags_list'].apply(len)

In [48]:
recipes_df.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,tags_list,n_tags
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7,"[60-minutes-or-less, time-to-make, course, mai...",20
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6,"[30-minutes-or-less, time-to-make, course, mai...",20
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13,"[time-to-make, course, preparation, main-dish,...",9
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11,"[60-minutes-or-less, time-to-make, course, mai...",30
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8,"[weeknight, time-to-make, course, main-ingredi...",21

In [49]:
# average number of tags
recipes_df['n_tags'].mean()

17.88007960731662

##### Tags

In [61]:
tags = recipes_df[['tags_list','id']].explode('tags_list').rename(columns={'tags_list':'tag'})
tags

                       tag      id
0       60-minutes-or-less  137739
0             time-to-make  137739
0                   course  137739
0          main-ingredient  137739
0                  cuisine  137739
...                    ...     ...
231636             dietary  298509
231636        comfort-food  298509
231636          taste-mood  298509
231636               sweet  298509
231636  number-of-servings  298509

[4141688 rows x 2 columns]

In [60]:
# number of tags only mentioned once
tag_counts = tags.groupby('tag').count()#.shape[0]
tag_counts[tag_counts['id'] == 1].shape[0]

44

In [95]:
# average rating for each itemid
ratings_per_recipe = raw_interactions_df[['recipe_id', 'rating']].groupby('recipe_id').mean()
ratings_per_recipe.head()

             rating
recipe_id
38         4.250000
39         3.000000
40         4.333333
41         4.500000
43         1.000000

In [96]:
tag_ratings = tags.merge(ratings_per_recipe, left_on='id', right_index=True)
tag_ratings = tag_ratings[['tag', 'rating']].groupby('tag').mean().sort_values(by='rating', ascending=False).reset_index()

In [97]:
tag_ratings

                         tag  rating
0       roast-beef-main-dish     5.0
1           pork-loins-roast     5.0
2          beans-side-dishes     5.0
3    roast-beef-comfort-food     5.0
4                beef-sauces     5.0
..                       ...     ...
547                pot-roast     0.0
548     lamb-sheep-main-dish     0.0
549           beef-crock-pot     0.0
550         shrimp-main-dish     0.0
551        main-dish-seafood     0.0

[552 rows x 2 columns]

In [98]:
# filter off tags that are used less than 5 times
rare_tags = set(tag_counts[tag_counts['id'] < 5].index)
tag_ratings[tag_ratings['tag'].apply(lambda x: x not in rare_tags)]

                     tag    rating
21   ragu-recipe-contest  4.768463
23              namibian  4.750000
25          memorial-day  4.740722
26     prepared-potatoes  4.700000
27         non-alcoholic  4.688760
..                   ...       ...
538  unprocessed-freezer  3.826407
539        sugar-cookies  3.818084
540             filipino  3.797520
541             honduran  3.778836
542     pressure-canning  3.778520

[498 rows x 2 columns]

In [105]:
recipes_df[recipes_df['tags_list'].apply(lambda x: 'preparation' in x)].shape[0] / recipes_df.shape[0]

0.995290044336613

In [106]:
recipes_df

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,tags_list,n_tags
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7,"[60-minutes-or-less, time-to-make, course, mai...",20
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6,"[30-minutes-or-less, time-to-make, course, mai...",20
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13,"[time-to-make, course, preparation, main-dish,...",9
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11,"[60-minutes-or-less, time-to-make, course, mai...",30
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8,"[weeknight, time-to-make, course, main-ingredi...",21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231632,zydeco soup,486161,60,227978,2012-08-29,"['ham', '60-minutes-or-less', 'time-to-make', ...","[415.2, 26.0, 34.0, 26.0, 44.0, 21.0, 15.0]",7,"['heat oil in a 4-quart dutch oven', 'add cele...",this is a delicious soup that i originally fou...,"['celery', 'onion', 'green sweet pepper', 'gar...",22,"[ham, 60-minutes-or-less, time-to-make, course...",20
231633,zydeco spice mix,493372,5,1500678,2013-01-09,"['15-minutes-or-less', 'time-to-make', 'course...","[14.8, 0.0, 2.0, 58.0, 1.0, 0.0, 1.0]",1,['mix all ingredients together thoroughly'],this spice mix will make your taste buds dance!,"['paprika', 'salt', 'garlic powder', 'onion po...",13,"[15-minutes-or-less, time-to-make, course, pre...",14
231634,zydeco ya ya deviled eggs,308080,40,37779,2008-06-07,"['60-minutes-or-less', 'time-to-make', 'course...","[59.2, 6.0, 2.0, 3.0, 6.0, 5.0, 0.0]",7,"['in a bowl , combine the mashed yolks and may...","deviled eggs, cajun-style","['hard-cooked eggs', 'mayonnaise', 'dijon must...",8,"[60-minutes-or-less, time-to-make, course, mai...",13
231635,cookies by design cookies on a stick,298512,29,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[188.0, 11.0, 57.0, 11.0, 7.0, 21.0, 9.0]",9,['place melted butter in a large mixing bowl a...,"i've heard of the 'cookies by design' company,...","['butter', 'eagle brand condensed milk', 'ligh...",10,"[30-minutes-or-less, time-to-make, course, pre...",12
231636,cookies by design sugar shortbread cookies,298509,20,506822,2008-04-15,"['30-minutes-or-less', 'time-to-make', 'course...","[174.9, 14.0, 33.0, 4.0, 4.0, 11.0, 6.0]",5,"['whip sugar and shortening in a large bowl , ...","i've heard of the 'cookies by design' company,...","['granulated sugar', 'shortening', 'eggs', 'fl...",7,"[30-minutes-or-less, time-to-make, course, pre...",15

In [123]:
raw_interactions_df

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
...,...,...,...,...,...
1132362,116593,72730,2003-12-09,0,Another approach is to start making sauce with...
1132363,583662,386618,2009-09-29,5,These were so delicious! My husband and I tru...
1132364,157126,78003,2008-06-23,5,WOW! Sometimes I don't take the time to rate ...
1132365,53932,78003,2009-01-11,4,Very good! I used regular port as well. The ...
1132366,2001868099,78003,2017-12-18,5,I am so glad I googled and found this here. Th...

In [127]:
raw_interactions_df

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."
...,...,...,...,...,...
1132362,116593,72730,2003-12-09,0,Another approach is to start making sauce with...
1132363,583662,386618,2009-09-29,5,These were so delicious! My husband and I tru...
1132364,157126,78003,2008-06-23,5,WOW! Sometimes I don't take the time to rate ...
1132365,53932,78003,2009-01-11,4,Very good! I used regular port as well. The ...
1132366,2001868099,78003,2017-12-18,5,I am so glad I googled and found this here. Th...

In [129]:
all_ratings = raw_interactions_df[['recipe_id', 'rating']].groupby('recipe_id').agg({"rating": [np.mean, np.sum]})#.sort_values(by='rating')

In [134]:
all_ratings[all_ratings[('rating', 'sum')] > 50].sort_values(by=('rating', 'mean'))

             rating
               mean  sum
recipe_id
54367      2.217391   51
309848     2.320000   58
198017     2.360000   59
23531      2.440000   61
159268     2.483871   77
...             ...  ...
85492      5.000000   55
8813       5.000000   65
85349      5.000000   60
117570     5.000000  130
293120     5.000000   75

[16840 rows x 2 columns]

In [116]:
recipes_df[recipes_df['id'] == 486261]

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,tags_list,n_tags
134684,mexican stack up rsc,486261,75,226863,2012-09-01,"['time-to-make', 'course', 'main-ingredient', ...","[793.0, 83.0, 10.0, 34.0, 87.0, 131.0, 11.0]",28,"['preheat broiler to high broil', 'set the rac...","ready, set, cook! reynolds wrap contest entry....","['poblano pepper', 'reynolds wrap foil', 'oliv...",22,"[time-to-make, course, main-ingredient, cuisin...",24

In [135]:
recipes_df[recipes_df['id'] == 117570]

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,tags_list,n_tags
178490,sage and rosemary pork chops,117570,30,133174,2005-04-17,"['30-minutes-or-less', 'time-to-make', 'main-i...","[546.7, 55.0, 0.0, 18.0, 103.0, 50.0, 0.0]",7,"['heat contact grill for 5 minutes', 'wash cho...",these are nicely seasoned and cooked on a cont...,"['pork loin chops', 'olive oil', 'dried sage',...",6,"[30-minutes-or-less, time-to-make, main-ingred...",8